*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: bisque;
    padding: 20px;
    .headercontainer{
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        nav{
            width: 50%;
            display: flex;
            justify-content: space-between;
            ul {
                width: 90%;
                display: flex;
                justify-content: space-between;
              
                .pagedropt {
                
                  .submenu {
                    display: flex;
                    flex-direction: column;
                    display: none;
              
                    
                  }
                  &:hover .submenu {
                    cursor: pointer;
                    display: block;
                    display: flex;
                    flex-direction: column;

                  }
                }
              }
              
        }
        .dropdown{
            display: none;
        }
    }
}
@media screen and (max-width:600px) {
    header{
        .headercontainer{
            nav{
                display: none;
            }
            .dropdown{
                display: block;
               
                .dropdown-menu{
                    margin-left: -150px;
                }
            }
        }
    }
    
}

// header{
//     width: 100%;
//     height: 60px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     background-color: rgb(36, 36, 36);
//     position: relative;
//     h1 {
//         color: white
//     }
//     .headerContainer {
//         width: 80%;
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         .nav {
//             width: 50%;
//             display: flex;
//             justify-content: space-between;
//         }
//         .logo {
//             width: 10%;
//         }
//         #menuDivBtn {
//             display: none;
//         }
       
//         @media screen and (max-width: 600px) {
//             .collapse {
//                 display: block;
//             }
//             .nav {
//                 display: none;
//             }
//             #menuDivBtn {
//                 display: block;
//             }
            
//         }
//     }
//     #menuDiv {
//         display: none;
//         width: 100%;
//         flex-direction: column;
//         position: absolute;
//         left: 0;
//         top:100%;
//         background-color: #cecece;
//         gap: 7px;
//         height: auto;
        
//     }
//   }
#apiproduct{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    .container{
      margin-top: 20px;
      margin-bottom: 20px;
      #proList{
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
       
        .box{
           width: 100%;
           padding: 20px;
        
            .div{
                width:100%;
                padding: 20px;
                background-color: white;
                border-radius: 8px;
                position: relative;
                box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                img{
                    border-radius: 7px;
                    width: 100%;
                }
                .onebtn{
                    width: 110px;
                    height: 40px;
                    padding: 5px;
                    border: none;
                    font-size: 13px;
                    background-color:black;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                     color: white;
                     &:hover{
                        background: green;
                     }

                }
                .twobtn{
                    top: 20px;
                    right: 20px;
                    padding: 10px;
                    border-radius: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                    position: absolute;
                    background-color: white;
                    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
                    &:hover{
                        color: rgb(235, 81, 81);
                    }
                }
            }
      
        }
      }
    }
}